  /*colors:
purple #9b59b6 
silver:  #ecf0f1*/

/* -----------------------------------------------*/
/*BASIC SETUP*/
/* -----------------------------------------------*/


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html,
body{
    background-color: #fffefe;
    color: #ecf0f1;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;  
    overflow-x: hidden;
    
}


.clearfix{zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -----------------------------------------------*/
/*REUSEABLE  COMPONENTS*/
/* -----------------------------------------------*/


.row{
    
    max-width: 1140px;
   
/*/margin: top right bottom left, 
    or a shorter way to do this*/
/*    margin: 0 auto o auto;*/
    margin: 0 auto;
    
/*    in the above: top/bottom = 0, left/right = auto*/
    
}

.box{
    padding: 1%;
    
}


section {
    color: #000;
    padding: 80px 0;
    

   
}

/*--------HEADINGS--------*/
h1,.hero-text-box h2{
    padding: 0 10px -3% 23%;
    margin: auto;
    
}


.hero-text-box {
    text-align: center;
    
}

h1,
h2,
h3,
h4{
   
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 10px;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 270%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: auto;

    
    
}
h2{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: auto;
}


h3 {
    margin-top: 20px;
    margin: auto;
    width: 65%;
    text-align: center;
    margin-bottom: 30px;
    
}

h3:after {
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 100px;
    content:  " ";
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #9b59b6;
}
h4{
    font-size: 105;
    padding: 10px 0;
    letter-spacing: -1px;
    text-align: center;

}

h1,
h2,
h3,
h4,
.section-cities h3,
.section-testimonials h3,
.section-plans h3{
    font-weight: bolder;
/*    color: #000;*/
        
}

.box p{
    font-size: 90%;
    line-height: 145%;
    
}

/*--------PARAGRAPGHS--------**/

.long-copy {
    width: 70%;
    display: block;
    margin-left: 15%;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 145%
    
}




/*-------SECTION FEATURES------*/


.section-features .long-copy{
    margin-bottom: 40px;
}

/*-------------ICONS---------------*/

.icon{
    font-size: 320%;
    color: #9b59b6;
    display: block;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 150%;
    color: #9b59b6;
    margin-right: 10px; 
    
    /* secrets to align text and icons*/
    margin-top: -2px;
    line-height: 150%;
    vertical-align: middle;
}








/*--------BUTTONS--------*/

   /* 
:link is a pseudo class that indicates when the button style is at rest, while 

:visited is a pseudo that indicates buttons that have been clicked on
 */

.btn:link, 
.btn:visited,
input[type=submit]
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border: 3px solid rgba(230, 126, 34, 0.06)/*#8e44ad #3498db*/ ; 
    border-radius: 20px;
    text-decoration: none;
    color: #ecf0f1 ;
    -webkit-transition: background-color 0.2s, border 0.3s, color 0.4s;
    transition: background-color 0.2s, border 0.3s, color 0.4s;
    margin: 10px;
    margin-left: 30px;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]
{
        background:#9b59b6;
        margin-left: 0px;

    
        
}
.btn-ghost:link,
.btn-ghost:visited
{
    border: 1px solid #9b59b6; 
    color : #9b59b6;
}

/* :hover psuedo indicates when mouse hovers around or over the btn elemment

while 

:active indicates when a btn is just clicked on
*/

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active
{
    padding: 10px 20px;
    background-color: rgba(141, 68, 173, 0.76);
    color: #fff;
    -webkit-box-shadow: 2px 2px 3px  inset #462557, -2px -2px 3px  inset #462557;
    box-shadow: 2px 2px 3px  inset #462557, -2px -2px 3px  inset #462557;
    -webkit-transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
    transition: background-color 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s, -webkit-box-shadow 0.2s;

}


.btn-full:hover,
.btn-full:active
{
    
     border: 1px solid #9b59b6; 
   
}

.btn-ghost:hover,
.btn-ghost:active
{
    border: 1px solid #9b59b6; 
    color : #9b59b6;
    background-color: rgba(236, 240, 241, 0.72) ;
    
}

.btn-app img{
    width: auto;
    margin-right: 10px;
    height: 50px;
    
}

.btn-app{
    margin-left: 5%;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}


/*--------------------------------------------*/
/*------------------LINKS-----------------*/
/*--------------------------------------------*/
a:link,
a:visited{
    text-decoration: none;
    border-bottom: 2px solid #9b59b6;
    padding: 0 0 2px 0;
    color: #9b59b6;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #7c7b7b;
    
}



/* -----------------------------------------------*/
/*HEADER SECTION*/
/* -----------------------------------------------*/

header{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 4, 16, 0.95)), to(rgba(14, 14, 15, 0.83))),url(webDev/Hero.jpeg.png);
    background-image: linear-gradient(rgba(3, 4, 16, 0.95), rgba(14, 14, 15, 0.83)),url(webDev/Hero.jpeg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

div.div, div{
    margin: 0;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    
}


.logo{
    height: 150px;
    width: auto;
    float: left;
    
}

.logo-black{
    display: none;
    height: 55px;
    margin: 5px 0;
    width: auto;
    float: left;
    
}
/*--MAIN NAVI--*/

.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    margin-left: 23px;

}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 65%;
    border-bottom: 2px solid rgba(155, 89, 182, 0.06);
    padding: 3px 0px;

    
}


.main-nav li a:hover,
.main-nav li a:active{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid #9b59b6;
    -webkit-transition: border-bottom .5s;
    transition: border-bottom .5s;

    
}



/* MOBILE RESPONSIVE NAVI */


.ion-navicon-round{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    -ms-flex-negative: 200%;
    flex-shrink: 200%;
    color: #fff;
}

/* STICKY NAVI */

.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 2px 2px #dbdbdb;
    box-shadow: 0 2px 2px #dbdbdb;
    z-index: 9999;
}

.sticky .main-nav{
    margin-top: 15px;

}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #555;
    padding: 25px 0px;
/*    font-weight: bold*/

    
}

.sticky .logo-black{ display: block; }
.sticky .logo{ display: none; }





/* ------------------------------------------*/
/* SECTION GALLERY*/
/* ------------------------------------------*/


.watch-gallery{
    width: 100%;
    list-style: none;
    
}





.watch-gallery li{
    display: block;
    float: left;
    width: 12.5%;
    
}


.watch{
    width:100%;
    margin: 0;
    overflow: hidden;
    background-color: #190122;

}


.watch img{
     width: 100%;
    float: left;
    height: auto;
    display: block;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: transfor 0.9s, opacity 0.5s;
    transition: transfor 0.9s, opacity 0.5s;
    opacity: 0.7;
    
    
    
}


 .watch img:hover{
     -webkit-transform: scale(1.04);
     transform: scale(1.04);
     opacity: 1;
     
    
}



.gallery {
    margin-top: 0;
    padding: 0;
}

.step-text {
    margin-top: 20px;
}

/*--------------------------------------------*/
/*------------HOW IT WORKS-----------------*/
/*--------------------------------------------*/

.steps-box{
    background-color: rgba(252, 252, 252, 0.77);
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 65px;

    
}
.steps-box:last-of-type{
margin-bottom: 50px;    
}

.iphone{
    width: 40%;
}

.work-step{
    margin-bottom: 50px;
}

.work-step div{
    color: #9b59b6;
    display: inline-block;
    border: 2px solid #9b59b6;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    font-size: 150%;
    padding: 8px;
    float: left;
    margin-right: 25px;
    
}



/*--------------------------------------------*/
/*-------------------CITIES-----------------*/
/*--------------------------------------------*/



.section-cities div{
    font-size: 90%;
    background-color: rgba(213, 171, 230, 0.08);
    font-weight: 150%;
}







.section-cities img{
   
    width: 200px;
    height: 150px;
    padding: 0 10px;
    background-color: rgba(155, 89, 182, 0.99);
    margin: 0 10px 15px;
    border-radius: 5px;
    
    
}

.city-feature {
    margin-bottom: 5px;

}



.section-steps {
    background-color: #fff
}



/*--------------------------------------------*/
/*------------TESTIMONIAL-----------------*/
/*--------------------------------------------*/

.section-testimonials{
    
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.8)),to(rgba(8, 7, 8, 0.69))),  url(webDev/background2.jpg);
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(8, 7, 8, 0.69)),  url(webDev/background2.jpg);
    background-size: 450px;
    background-attachment: fixed;
    color: #fff;
}

blockquote:before{
    content: "\201c";
    display: block;
    font-size: 500%;
    position: absolute;
    top: 23px;
    left: -5px;
    padding: 2px;
}

blockquote{
    padding: 2%;
    height: 300px;
    padding: 15px;
    font-style: italic;
    background-color: rgba(187, 176, 191, 0.85);
    line-height: 145%;
    border-radius: 4%;
    position: relative;
    margin-top: 30px;
}
blockquote .para{
    margin-bottom: 10px;
    height: 85px;
    display: block;
    margin-top: 10px;
    font-size: 85%;

 
}
/*

blockquote p:first-child:after{
    content: " ";
    width: 30%;
    color: rgb(182, 69, 216);
    padding: 1px;
    background-color: #8d6887;
    display: block;
    margin: 0 auto;
    
}
*/

cite:before{
    content: " ";
    width: 30%;
    color: rgb(182, 69, 216);
    padding: 1px;
    background-color: #ecf0f1;
    display: block;
    margin: 20px auto ;
    
    
}

cite{
    font-size: 90%;
    font-weight: 125%;
    margin-top: 25px;
    display: block;
}

cite img{
     width: 70px;
    height: 70px;
    border-radius: 50%;
    vertical-align: middle;
    
}



/*--------------------------------------------*/
/*------------SECTION PLANS -----------------*/
/*--------------------------------------------*/

.section-plans{
    background-color: #e7e7e7;
}

.plans-box{
    background-color: rgba(155, 89, 182, 0.25);
    width: 30%;
    padding: 15px;
    border-radius: 25px;
    margin: auto;
    -webkit-box-shadow:  4px 6px 4px rgb(185, 184, 184),-4px -6px 4px rgb(185, 184, 184);
    box-shadow:  4px 6px 4px rgb(185, 184, 184),-4px -6px 4px rgb(185, 184, 184);
}

.plans-box div{
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(240, 222, 240, 0.93);
    border-bottom: 1px solid #8e8e8e;
}

.plans-box div:last-of-type {
    border-bottom: 0;
    -webkit-box-shadow: -2px -2px 3px inset #2c033b71,2px 2px 3px inset #2c033b71;
    box-shadow: -2px -2px 3px inset #2c033b71,2px 2px 3px inset #2c033b71;

}

.plans-box div:nth-child(2){
    background-color: #9b59b6 ;
    border-radius: 25px;
    color: rgb(207, 203, 203);

}


.plans-box div:nth-child(2) .icon-small{
    color: #d7a4f0;
    font-size: 110%;;
}

.plans-box div:nth-child(3){
text-align: center;
}
.plans-box div:nth-child(3) input{
    /* color: #9f77adad; */
    width: 90%;
}


.plans-box div:nth-child(3) input,
.plans-box div:nth-child(3) button
{
    border-radius: 15px; 
    border: 1px solid transparent;
    -webkit-box-shadow: -4px -4px 8px inset #2c033b71, 4px 4px 8px inset #2c033b71;
    box-shadow: -4px -4px 8px inset #2c033b71, 4px 4px 8px inset #2c033b71;
    margin-bottom: 1.5%;
    padding: 8px;
    font-size: 70%;;
}



.plans-box ul{
    list-style: none;
}
.plans-box ul li{
    padding:  10px 1px;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
}
.plan-price span{
    font-size: 40%;
    font-weight: 300;
    color: #9b59b6;
}
.plan-price-meal{
    font-size: 110%;    
}

  

/*--------------------------------------------*/
/*------------SECTION FORM-----------------*/
/*--------------------------------------------*/

.section-form{
     background-color: #fffefe;

}

.section-form h3{
    background-color: #9c59b6;
    color: #ecf0f1;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
    padding-top: 15px;
    -webkit-box-shadow: 2px 2px 3px #431a53dc, -2px -2px 3px #431a53dc;
    box-shadow: 2px 2px 3px #431a53dc, -2px -2px 3px #431a53dc;
}

.contact-form{
    width: 60%;
    margin: 0 auto;  
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(56, 56, 56);
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 010px;
}

*:focus{
    outline: none;
    /*this makes the outline disappear when the mouse focuses on any element*/
}



/*--------------------------------------------*/
/*------------FOOTER SECTION-----------------*/
/*--------------------------------------------*/



footer{
    background-color: #21022c;
    color: #eed6fa;
    padding: 40px;
    font-size: 80%;
}

/* .footer-nav,
.social-links{
    width: 90%;
    margin: auto;
} */

.footer-nav{
    float: left;
}

.social-links {
    float: right;
}

.social-links li:last-child,
.footer-nav li:last-child{
    margin: 0;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
    list-style: none;
    /* text-align: center; */
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: none;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;

}





.footer-nav li a:active,
.footer-nav li a:hover
{
    color: #ddd;
}

 
.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}


.ion-social-facebook:hover{
 color: #3b5998;
}


.ion-social-twitter:hover{
    color: #00aced;
   }

   
.ion-social-instagram:hover{
    color: #517fa4;
  
}


.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
   

footer p{
    text-align: center;
    display: block;
    margin-top: 20PX;
    color: #888;
}






/*--------------------------------------------*/
/*---------------Animations-----------------*/
/*--------------------------------------------*/




.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    
}


.js--wp-6{ -webkit-animation-duration: 1s; animation-duration: 1s; }

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated,
.js--wp-4.animated,
.js--wp-5.animated
{
    opacity: 1;
}